/* 슬라이드 */
#slideBox {
    overflow: hidden;
    position: relative;
}
#slideBox > ul {
    width: 5710px;
    list-style: none;
    padding: 0;
    font-size: 0;
}
#slideBox > ul > li {
    display: inline-block;
}
#slideBox > div {
    width: 600px;
    height: 1px;
    background-color: #eee;
    position: absolute;
    bottom: 40px;
    left: 0;
    right: 0;
    margin: 0 auto;
}
#slideBox > div > span {
    width: 200px;
    height: 3px;
    background-color: white;
    position: absolute;
    top: -1px;
}
#bestBox {
    padding: 25px 0;
    background-color: #eee;
}
#grid1 {
    display: grid;
    margin: 0 auto;
    width: 1300px;
    grid-template-columns: repeat(5, 1fr);
    grid-template-rows: 240px;
    grid-gap: 25px;
}
#grid1 div {
    position: relative;
}
#grid1 div img {
    width: 240px;
    height: 240px;
    object-fit: cover;
    border-radius: 30px;
}
#grid1 div div {
    position: absolute;
    width: 100%;
    height: 100%;
    background-color: #0000005e;
    border-radius: 30px;
    top: 0;
    display: flex;
}
#grid1 div div p {
    margin: auto;
    color: white;
    font-weight: bold;
    font-size: 20px;
    padding: 0 20px;
}
#newBox {
    padding: 60px 0;
}
#grid2 {
    display: grid;
    margin: auto;
    width: 1300px;
    grid-template-columns: repeat(4, 1fr);
    grid-template-rows: repeat(3, 525px);
    grid-gap: 12px;
}
#grid2 > div {
    border: 1px solid #ccc;
    border-radius: 20px;
}
#grid2 > div > img {
    width: 314px;
    height: 314px;
    object-fit: cover;
    border-top-left-radius: 20px;
    border-top-right-radius: 20px;
}
#grid2 > div > p:nth-of-type(1) { /* 상품이름 */
    font-size: 23px;
    height: 62px;
    padding: 10px;
    font-weight: bold;
}
#grid2 > div > p:nth-of-type(2) { /* 상품설명 */
    font-size: 20px;
    height: 54px;
    padding: 0 10px;
    color: #999;
}
#grid2 > div > p:nth-of-type(3) { /* 가격 */
    font-size: 22px;
    padding-top: 5px;
    padding-left: 10px;
    line-height: 58px;
}
#grid2 > div > p:nth-of-type(3) > span:nth-child(1) {
    font-size: 21px;
    color: #999;
    text-decoration: line-through;
}
#grid2 > div > p:nth-of-type(3) > span:nth-child(2) {
    font-size: 23px;
    margin-left: 6px;
    font-weight: bold;
}
#grid2 > div > p:nth-of-type(3) > span:nth-child(3) {
    display: inline-block;
    font-size: 23px;
    margin-left: 7px;
    border-radius: 50%;
    background-color: #0D569B;
    font-weight: bold;
    color: white;
    padding: 12px 10px;
    width: 50px;
    text-align: center;
    line-height: 34px;
}