<footer>
    <ul>
        <li><a href="/etc/company/introduction">회사소개</a><span>l</span></li>
        <li><a href="/etc/use/agreement">이용약관</a><span>l</span></li>
        <li><a href="/etc/personal/information">개인정보취급방침</a><span>l</span></li>
        <li><a href="/community/noticeList">공지사항</a></li>
    </ul>
    <div>
        <a href="/"></a>
        <div>
            <p>업체명 : TRAVEL / 대표자 : 황예지</p>
            <p>사업자등록번호 : 000-00-00000 / 통신판매신고 : 제2024-부산진구-12345호</p>
            <p>전화번호 : 051-555-1234 / 팩스번호 : 070-1234-5678</p>
            <p>주소 : 부산 부산진구 중앙대로 631</p>
            <p>E-mail : travel@gmail.com / 개인정보관리책임자 : 김재현</p>
            <p>COPYRIGHTⓒ 2024 TRAVEL ALL RIGHTS RESERVED.</p>
        </div>
        <div>
            <p>고객센터</p>
            <p>051-555-1234</p>
            <p>업무시간</p>
            <p>평일 09:00 ~ 18:00</p>
            <p>토요일 09:00 ~ 13:00</p>
            <p>일요일/공휴일 휴무</p>
        </div>
    </div>
</footer>