<!DOCTYPE html>
<html lang="ko" xmlns:th="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/css/admin_header.css">
    <link rel="stylesheet" href="/css/adminsCss/admin_user_index.css">
    <script src="/js/jquery.js"></script>
    <script src="/js/admin_header.js"></script>
    <script src="/js/admin/admin_user_index.js"></script>
    <title>관리자 - 회원 목록</title>
</head>
<body>
    <th:block th:include="layouts/admin_header"></th:block>
    <main>
        <div class="box">
            <p id="boxTitle">회원 목록</p>
            <div id="selectBox">
                <select>
                    <option value="1" th:selected="${group} == '1'">가입회원</option>
                    <option value="2" th:selected="${group} == '2'">탈퇴회원</option>
                    <option value="3" th:selected="${group} == '3'">전체회원</option>
                </select>
                <select>
                    <option value="1" th:selected="${category} == '1'">아이디</option>
                    <option value="2" th:selected="${category} == '2'">이름</option>
                    <option value="3" th:selected="${category} == '3'">연락처</option>
                    <option value="4" th:selected="${category} == '4'">이메일</option>
                </select>
                <input type="search" th:value="${param.searchKeyword}">
                <button type="button">검색</button>
            </div>
            <div id="upperLine">
                <p>총<span th:text="${users.getTotalElements()}"></span>건</p>
                <p>
                    <a href="#">선택 탈퇴</a>
                </p>
            </div>
            <div id="indexBox">
                <table>
                    <colgroup>
                        <col width="35px">
                        <col width="30px">
                        <col width="250px">
                        <col width="200px">
                        <col width="225px">
                        <col width="300px">
                        <col width="250px">
                        <col width="250px">
                        <col width="110px">
                    </colgroup>
                    <thead>
                        <tr>
                            <th><input type="checkbox" id="all"></th>
                            <th>No</th>
                            <th>아이디</th>
                            <th>이름</th>
                            <th>연락처</th>
                            <th>이메일</th>
                            <th>가입일</th>
                            <th>탈퇴일</th>
                            <th>관리</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr th:if="${users.isEmpty()}" id="blank">
                            <td colspan="9">
                                <img src="/images/icon_img/exclamationMark.png">
                                <p>검색결과가 없습니다.</p>
                            </td>
                        </tr>
                        <tr th:each="user : ${users}" th:style="${user.userDeleteDate == null ? '' : 'background-color: #e3e3e3;'}"> <!-- 리스트 하나 -->
                            <td><input type="checkbox" th:value="${user.userId}" class="check"></td>
                            <td th:text="${userStat.count}"></td>
                            <td th:text="${user.username}"></td>
                            <td th:text="${user.userRealName}"></td>
                            <td th:text="${user.userPhone}"></td>
                            <td th:text="${user.userEmail}"></td>
                            <td th:text="${#temporals.format(user.userSubmitDate, 'yyyy-MM-dd HH:mm:ss')}"></td>
                            <td th:text="${user.userDeleteDate == null ? '-' : #temporals.format(user.userDeleteDate, 'yyyy-MM-dd HH:mm:ss')}"></td>
                            <td>
                                <a th:href="'/admin/user/' + ${user.userId} + '/show'">보기</a>
                                <a th:href="'/admin/user/' + ${user.userId} + '/delete?page=' + ${users.getNumberOfElements() != 1 ? nowPage-1 : nowPage-2} + '&group=' + ${group} + '&category=' + ${category} + '&searchKeyword=' + ${searchKeyword}">탈퇴</a>
                            </td>
                        </tr>
                    </tbody>
                </table>
            </div>
            <div id="pageBox">
                <a th:href="${users.hasPrevious() ? '/admin/user/index?page=' + (nowPage-2) + '&group=' + group + '&category=' + category + '&searchKeyword=' + searchKeyword : 'javascript:void(0)'}" th:style="${users.hasPrevious() ? '' : 'color:#ccc'}">〈</a>
                <a th:each="page : ${#numbers.sequence(startPage, endPage)}" th:text="${page}" th:href="${page == nowPage ? 'javascript:void(0)' : '/admin/user/index?page=' + (page - 1) + '&group=' + group + '&category=' + category +'&searchKeyword=' + searchKeyword}" th:style="${page == nowPage ? 'background-color: #0D569B; color: white;' : '' }">1</a>
                <a th:href="${users.hasNext() ? '/admin/user/index?page=' + nowPage + '&group=' + group + '&category=' + category + '&searchKeyword=' + searchKeyword : 'javascript:void(0)'}" th:style="${users.hasNext() ? '' : 'color:#ccc'}">〉</a>
            </div>
        </div>
    </main>
</body>
</html>