<!DOCTYPE html>
<html lang="ko" xmlns:th="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/css/admin_header.css">
    <link rel="stylesheet" href="/css/adminsCss/admin_notice_index.css">
    <script src="/js/jquery.js"></script>
    <script src="/js/admin_header.js"></script>
    <script src="/js/admin/admin_notice_index.js"></script>
    <title>관리자 - 공지사항 목록</title>
</head>
<body>
    <th:block th:include="layouts/admin_header"></th:block>
    <main>
        <div class="box">
            <p id="boxTitle">공지사항 목록</p>
            <div id="selectBox">
                <select>
                    <option value="1" th:selected="${category} == '1'">제목</option>
                    <option value="2" th:selected="${category} == '2'">작성자 (아이디)</option>
                    <option value="3" th:selected="${category} == '3'">작성자 (이름)</option>
                </select>
                <input type="search" th:value="${param.searchKeyword}">
                <button type="button">검색</button>
            </div>
            <div id="upperLine">
                <p>총<span th:text="${notices.getTotalElements()}"></span>건</p>
                <p>
                    <a href="/admin/notice/insert">공지사항 등록</a>
                    <a href="#">선택 삭제</a>
                </p>
            </div>
            <div id="indexBox">
                <table>
                    <colgroup>
                        <col width="35px">
                        <col width="30px">
                        <col width="895px">
                        <col width="130px">
                        <col width="200px">
                        <col width="250px">
                        <col width="110px">
                    </colgroup>
                    <thead>
                        <tr>
                            <th><input type="checkbox" id="all"></th>
                            <th>No</th>
                            <th>제목</th>
                            <th>조회수</th>
                            <th>작성자</th>
                            <th>등록일</th>
                            <th>관리</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr th:if="${notices.isEmpty()}" id="blank">
                            <td colspan="7">
                                <img src="/images/icon_img/exclamationMark.png">
                                <p>검색결과가 없습니다.</p>
                            </td>
                        </tr>
                        <tr th:each="notice : ${notices}"> <!-- 리스트 하나 -->
                            <td><input type="checkbox" th:value="${notice.noticeId}" class="check"></td>
                            <td th:text="${noticeStat.count + (nowPage-1)*10}"></td>
                            <td><a th:href="'/admin/notice/' + ${notice.noticeId} + '/show'" th:text="${notice.noticeTitle}"></a></td>
                            <td th:text="${notice.noticeViews}"></td>
                            <td th:text="${notice.user.username} + ' (' + ${notice.user.userRealName} +')'"></td>
                            <td th:text="${#temporals.format(notice.noticeSubmitDate, 'yyyy-MM-dd HH:mm:ss')}"></td>
                            <td>
                                <a th:href="'/admin/notice/' + ${notice.noticeId} + '/show'">보기</a>
                                <a th:href="'/admin/notice/' + ${notice.noticeId} + '/delete?page=' + ${notices.getNumberOfElements() != 1 ? nowPage-1 : nowPage-2} + '&category=' + ${category} + '&searchKeyword=' + ${searchKeyword}">삭제</a>
                            </td>
                        </tr>
                    </tbody>
                </table>
            </div>
            <div id="pageBox">
                <a th:href="${notices.hasPrevious() ? '/admin/notice/index?page=' + (nowPage-2) + '&category=' + category + '&searchKeyword=' + searchKeyword : 'javascript:void(0)'}" th:style="${notices.hasPrevious() ? '' : 'color:#ccc'}">〈</a>
                <a th:each="page : ${#numbers.sequence(startPage, endPage)}" th:text="${page}" th:href="${page == nowPage ? 'javascript:void(0)' : '/admin/notice/index?page=' + (page - 1) + '&category=' + category +'&searchKeyword=' + searchKeyword}" th:style="${page == nowPage ? 'background-color: #0D569B; color: white;' : '' }"></a>
                <a th:href="${notices.hasNext() ? '/admin/notice/index?page=' + nowPage + '&category=' + category + '&searchKeyword=' + searchKeyword : 'javascript:void(0)'}" th:style="${notices.hasNext() ? '' : 'color:#ccc'}">〉</a>
            </div>
        </div>
    </main>
</body>
</html>