<!DOCTYPE html>
<html lang="ko" xmlns:th="http://www.w3.org/1999/xhtml" xmlns:sec="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/css/admin_header.css">
    <link rel="stylesheet" href="/css/adminsCss/admin_product_index.css">
    <script src="/js/jquery.js"></script>
    <script src="/js/admin_header.js"></script>
    <script src="/js/admin/admin_product_index.js"></script>
    <title>관리자 - 상품 목록</title>
</head>
<body>
<th:block th:include="layouts/admin_header"></th:block>
<main>
    <div class="box">
        <p id="boxTitle">상품 목록</p>
        <div id="selectBox">
            <select>
                <option value="전체" th:selected="${status} == '전체'">전체상품</option>
                <option value="정상" th:selected="${status} == '정상'">정상상품</option>
                <option value="품절" th:selected="${status} == '품절'">품절상품</option>
                <option value="숨김" th:selected="${status} == '숨김'">숨김상품</option>
            </select>
            <select>
                <option value="" th:selected="${mainCategory} == ''">--대분류--</option>
                <option value="국내여행" th:selected="${mainCategory} == '국내여행'">국내여행</option>
                <option value="일본여행" th:selected="${mainCategory} == '일본여행'">일본여행</option>
                <option value="중국여행" th:selected="${mainCategory} == '중국여행'">중국여행</option>
                <option value="미국여행" th:selected="${mainCategory} == '미국여행'">미국여행</option>
                <option value="유럽여행" th:selected="${mainCategory} == '유럽여행'">유럽여행</option>
            </select>
            <select id="subCategory">
                <option value="" th:selected="${subCategory} == ''">--중분류--</option>
                <option class="korea" value="서울" th:selected="${subCategory} == '서울'">서울</option>
                <option class="korea" value="부산" th:selected="${subCategory} == '부산'">부산</option>
                <option class="korea" value="제주도" th:selected="${subCategory} == '제주도'">서울</option>
                <option class="korea" value="울릉도" th:selected="${subCategory} == '울릉도'">울릉도</option>
                <option class="japan" value="오사카" th:selected="${subCategory} == '오사카'">오사카</option>
                <option class="japan" value="도쿄" th:selected="${subCategory} == '도쿄'">도쿄</option>
                <option class="japan" value="후쿠오카" th:selected="${subCategory} == '후쿠오카'">후쿠오카</option>
                <option class="japan" value="오키나와" th:selected="${subCategory} == '오키나와'">오키나와</option>
                <option class="japan" value="삿포로" th:selected="${subCategory} == '삿포로'">삿포로</option>
                <option class="china" value="베이징" th:selected="${subCategory} == '베이징'">베이징</option>
                <option class="china" value="상하이" th:selected="${subCategory} == '상하이'">상하이</option>
                <option class="china" value="칭다오" th:selected="${subCategory} == '칭다오'">칭다오</option>
                <option class="china" value="광저우" th:selected="${subCategory} == '광저우'">광저우</option>
                <option class="china" value="하얼빈" th:selected="${subCategory} == '하얼빈'">하얼빈</option>
                <option class="usa" value="하와이" th:selected="${subCategory} == '하와이'">하와이</option>
                <option class="usa" value="뉴욕" th:selected="${subCategory} == '뉴욕'">뉴욕</option>
                <option class="usa" value="로스앤젤레스" th:selected="${subCategory} == '로스앤젤레스'">로스앤젤레스</option>
                <option class="usa" value="샌프란시스코" th:selected="${subCategory} == '샌프란시스코'">샌프란시스코</option>
                <option class="usa" value="라스베이거스" th:selected="${subCategory} == '라스베이거스'">라스베이거스</option>
                <option class="usa" value="시카고" th:selected="${subCategory} == '시카고'">시카고</option>
                <option class="europe" value="파리" th:selected="${subCategory} == '파리'">파리</option>
                <option class="europe" value="스페인" th:selected="${subCategory} == '스페인'">스페인</option>
                <option class="europe" value="이탈리아" th:selected="${subCategory} == '이탈리아'">이탈리아</option>
                <option class="europe" value="런던" th:selected="${subCategory} == '런던'">런던</option>
                <option class="europe" value="영국" th:selected="${subCategory} == '영국'">영국</option>
                <option class="europe" value="프랑스" th:selected="${subCategory} == '프랑스'">프랑스</option>
                <option class="europe" value="독일" th:selected="${subCategory} == '독일'">독일</option>
            </select>
            <input type="search" placeholder="상품명을 입력해주세요." th:value="${param.searchKeyword}">
            <button type="button">검색</button>
        </div>
        <div id="upperLine">
            <p>총<span th:text="${products.getTotalElements()}"></span>건</p>
            <p>
                <a sec:authorize="hasRole('SELLER')" href="/seller/product/insert">상품 등록</a>
                <input type="hidden" id="auth" th:value="${auth}">
                <a href="#">선택 숨김</a>
            </p>
        </div>
        <div id="indexBox">
            <table>
                <colgroup>
                    <col width="35px">
                    <col width="30px">
                    <col width="120px">
                    <col width="160px">
                    <col width="390px">
                    <col width="120px">
                    <col width="15px">
                    <col width="120px">
                    <col width="140px">
                    <col width="140px">
                    <col width="70px">
                    <col width="70px">
                    <col width="130px">
                    <col width="110px">
                </colgroup>
                <thead>
                    <tr>
                        <th><input type="checkbox" id="all"></th>
                        <th>No</th>
                        <th>대분류</th>
                        <th>중분류</th>
                        <th>상품명</th>
                        <th colspan="3">판매기간</th>
                        <th>원가</th>
                        <th>할인가</th>
                        <th>수량</th>
                        <th>상태</th>
                        <th>등록일</th>
                        <th>관리</th>
                    </tr>
                </thead>
                <tbody>
                    <tr th:if="${products.isEmpty()}" id="blank">
                        <td colspan="14">
                            <img src="/images/icon_img/exclamationMark.png">
                            <p>검색결과가 없습니다.</p>
                        </td>
                    </tr>
                    <tr th:each="product : ${products}" th:style="${product.productStatus == '숨김' ? 'background-color: #e3e3e3;' : ''}"> <!-- 리스트 하나 -->
                        <td><input type="checkbox" th:value="${product.productId}" class="check"></td>
                        <td th:text="${productStat.count + (nowPage-1)*10}"></td>
                        <td th:text="${product.productRegionMainCategory}"></td>
                        <td th:text="${product.productRegionSubCategory}"></td>
                        <td><a th:href="'/' + ${auth} + '/product/' + ${product.productId} + '/show'" th:text="${product.productTitle}"></a></td>
                        <td th:text="${#temporals.format(product.productStartDate, 'yyyy-MM-dd')}"></td>
                        <td>~</td>
                        <td th:text="${#temporals.format(product.productEndDate, 'yyyy-MM-dd')}"></td>
                        <td th:text="${product.productRegularPrice}"></td>
                        <td th:text="${product.productDiscountPrice != null ? product.productDiscountPrice : '-'}"></td>
                        <td th:text="${product.productMaxCount}"></td>
                        <td th:text="${product.productStatus}"></td>
                        <td th:text="${#temporals.format(product.productRegistrationDate, 'yyyy-MM-dd')}"></td>
                        <td>
                            <a th:href="'/' + ${auth} + '/product/' + ${product.productId} + '/show'">보기</a>
                            <a th:href="'/' + ${auth} + '/product/' + ${product.productId} + '/delete?page=' + ${products.getNumberOfElements() != 1 ? nowPage-1 : nowPage-2} + '&status=' + ${status} + '&mainCategory=' + ${mainCategory} + '&subCategory=' + ${subCategory} + '&searchKeyword=' + ${searchKeyword}">숨김</a>
                        </td>
                    </tr>
                </tbody>
            </table>
        </div>
        <div id="pageBox">
            <a th:href="${products.hasPrevious() ? '/' + auth + '/product/index?page=' + (nowPage-2) + '&status=' + status + '&mainCategory=' + mainCategory + '&subCategory=' + subCategory + '&searchKeyword=' + searchKeyword : 'javascript:void(0)'}" th:style="${products.hasPrevious() ? '' : 'color:#ccc'}">〈</a>
            <a th:each="page : ${#numbers.sequence(startPage, endPage)}" th:text="${page}" th:href="${page == nowPage ? 'javascript:void(0)' : '/' + auth + '/product/index?page=' + (page - 1) + '&status=' + status + '&mainCategory=' + mainCategory + '&subCategory=' + subCategory +'&searchKeyword=' + searchKeyword}" th:style="${page == nowPage ? 'background-color: #0D569B; color: white;' : '' }"></a>
            <a th:href="${products.hasNext() ? '/' + auth + '/product/index?page=' + nowPage + '&status=' + status + '&mainCategory=' + mainCategory + '&subCategory=' + subCategory + '&searchKeyword=' + searchKeyword : 'javascript:void(0)'}" th:style="${products.hasNext() ? '' : 'color:#ccc'}">〉</a>
        </div>
    </div>
</main>
</body>
</html>