.container {
    width: 1903px;
    min-width: 500px;
    text-align: center;
    margin-top: 30px;
}
.content {
    text-align: center;
}
.userProImg {
    width: 70px;
    height: 70px;
    object-fit: cover;
    border: #ccc 1px solid;
}
.titleArea {
    margin-bottom: 60px;
    min-height: 30px;
    text-align: center;
}
.titleArea > h2 {
    color: #2e2e2e;
    font-size: 26px;
}
table{
    margin-left: 20px;
    border-bottom: #CCC 1px solid;
    border-collapse: collapse;
}
td {
    border-top: 1px solid #CCC;
    padding: 20px;
    text-align: center;
    font-size: 13px;
}
.txtEm {
    color: black;
    text-decoration: none;
    padding: 20px;

}
.txtEm > a {
    color: black;
    text-decoration: none;

}
.txtEm > a:hover {
    transition: 0.8s;
    color: #ccc;
    text-decoration: none;
    font-weight: bold;
}
.txtLight {
    color: gray
}
.txtLight > a {
    color: gray;
    text-decoration: none;
}
.txtLight > a:hover {
    color: black;
    text-decoration: none;
}
tr > td:nth-child(1) {
    width: 50px;
}
tr > td:nth-child(2) {
    width: 70px;
}
tr > td:nth-child(3) {
    width: 800px;
    font-size: 13px;
}
tr > td:nth-child(4) {
    width: 200px;
}
tr > td:nth-child(6) {
    width: 200px;
    text-align: center

}
tr > td:nth-child(5), td:nth-child(7) {
    width: 150px;
}
.txtBody {
    text-align: left;
    color: black;
    padding-left: 100px;
    border-top: none;
}
.back-btn {
    width: 100px;
    border: solid #eee 1px;
    /* background-color: #eee; */
    font-size: 13px;
    text-align: center;
    color: #ccc;
    text-decoration: none;
    padding: 10px 30px;
    margin: 5px;
}
.btnDiv {
    margin:20px;
    text-align: left;
    color: #ccc;
    text-decoration: none;
    padding: 20px;
}
.btnDiv > a:hover {
    transition: 0.9s;
    color: black;
    text-decoration: none;
    font-weight: bold;
    border: 1px solid black;
}
.star-rating {
    display: flex;
    align-items: center; /* 세로 중앙 정렬을 위해 추가 */
    justify-content: center;
    font-size: 1.2em; /* 별 크기를 0.7em으로 조정 */
    padding: 0;
    position: relative;
    text-align: center;
    width: auto;
    height: 100%; /* 부모의 높이를 상속받아 중앙에 위치하도록 설정 */
}

.star-rating input {
    display: none;
}

.star-rating label {
    color: #ccc;
    cursor: pointer;
    font-size: inherit; /* 부모의 폰트 크기를 상속받도록 설정 */
    padding: 0;
    position: relative;
    width: 1em;
}

.star-rating label:before {
    content: '\2605';
}

.star-rating .red {
    color: #0D569B;
}

.btnDiv {
    text-align: left;
    color: #ccc;
    text-decoration: none;
    padding: 5px;
}
.btnDiv > a:hover {
    transition: 0.9s;
    color: black;
    text-decoration: none;
    font-weight: bold;
    border: 1px solid black;
}