main > p {
    text-align: center;
    margin: 50px 0;
    font-size: 30px;
    font-weight: bold;
}
main > div {
    margin: 0 auto;
    width: 1300px;
    border: 1px solid #ccc;
    padding: 60px;
    box-sizing: border-box;
}
.title {
    display: block;
    font-weight: bold;
    font-size: 18px;
    margin-top: 20px;
    padding-top: 25px;
    border-top: 1px solid #eee;
}
main > div > p {
    font-size: 16px;
    line-height: 25px;
}