<!DOCTYPE html>
<html lang="ko" xmlns:th="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/css/header.css">
    <link rel="stylesheet" href="/css/loginsCss/find_pw_finish.css">
    <link rel="stylesheet" href="/css/footer.css">
    <script src="/js/jquery.js"></script>
    <script src="/js/login/find_pw_finish.js"></script>
    <title>비밀번호 재설정</title>
</head>
<body>
    <th:block th:include="layouts/header"></th:block>
    <main>
        <div class="box">
            <p>비밀번호 재설정</p>
            <p><span th:text="${user.username}"></span>님의 비밀번호를 재설정합니다.</p>
            <form id="findFinishBox" action="/find/pw/finish/create" method="post">
                <input type="hidden" name="userId" th:value="${user.userId}">
                <p>
                    <label for="userPw1">새 비밀번호</label>
                    <span>
                        <input type="password" id="userPw1" autofocus name="userPassword">
                        <span></span>
                    </span>
                </p>
                <p>
                    <label for="userPw2">새 비밀번호 확인</label>
                    <span>
                        <input type="password" id="userPw2">
                        <span></span>
                    </span>
                </p>
                <button type="submit">확인</button>
            </form>
        </div>
    </main>
    <th:block th:include="layouts/footer"></th:block>
</body>
</html>