<!DOCTYPE html>
<html lang="ko" xmlns:th="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/css/header.css">
    <link rel="stylesheet" href="/css/loginsCss/login.css">
    <link rel="stylesheet" href="/css/footer.css">
    <script src="/js/jquery.js"></script>
    <script src="/js/header.js"></script>
    <script src="/js/login/login.js"></script>
    <title>로그인</title>
</head>
<body>
    <th:block th:include="layouts/header"></th:block>
    <main>
        <div class="box">
            <p>로그인</p>
            <form id="loginBox" autocomplete="off" action="/login" method="post">
                <input type="text" id="userId" placeholder="아이디" autofocus name="username" value="seller">
                <input type="password" id="userPw" placeholder="비밀번호" name="password" value="1111">
                <p></p>
                <p><a href="/find/id/new">아이디 찾기</a>l<a href="/find/pw/new">비밀번호찾기</a></p>
                <button type="submit">로그인</button>
            </form>
            <div id="joinBox">
                <p>아직 회원이 아니신가요?</p>
                <p>회원가입 후 다양한 혜택과 서비스를 누려보세요!</p>
                <a href="/join/new">회원가입</a>
            </div>
        </div>
    </main>
    <th:block th:include="layouts/footer"></th:block>
</body>
</html>