<!DOCTYPE html>
<html lang="ko" xmlns:th="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/css/header.css">
    <link rel="stylesheet" href="/css/etcsCss/company_introduction.css">
    <link rel="stylesheet" href="/css/footer.css">
    <title>회사소개</title>
</head>
<body>
<th:block th:include="layouts/header"></th:block>
<main>
    <p>회사소개</p>
    <div>
        <img src="/images/etc_img/company_introduction.png">
    </div>
</main>
<th:block th:include="layouts/footer"></th:block>
</body>
</html>